* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  font-size: 62.5%;
  background-color: #eee;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

.title {
  margin: 1.25rem;
  font-size: 2.5rem;
  color: #222831;
  text-decoration: none;
}

.curious {
  transition: .1s ease-in-out;
}

.curious:hover {
  padding: 5px;
  color: #00ADB5;
  background-color: #fff;
}

.wiki-search__input {
  width: 40%;
  padding: .625rem;
  font-family: 'Playfair Display', serif;
  font-size: 1.125rem;
  font-weight: 300;
  text-align: center;
  border: 3px solid #393E46;
  transition: .3s ease-out;
}

.wiki-search__input:focus::placeholder {
  opacity: 0;
}

.wiki-search__input:focus {
  outline: 0;
  border: 3px solid #00ADB5;
}

.result-list {
  width: 70vw;
  padding: 0;
  margin: 6.25rem auto;
  list-style-type: none;
  letter-spacing: .3px;
}

.result-list a {
  color: #393E46;
  text-decoration: none;
}

.result-list__article {
  margin: 3.2rem;
  padding: 1.25rem;
  font-size: 1.07rem;
  box-shadow: 0px 10px 40px -7px rgba(57, 62, 70, .15);
  background-color: #fff;
  border: 3px solid #fff;
  transition: .1s ease-out;
}

.result-list__article:hover {
  border: 3px solid #00ADB5;
}

.result-list__error {
  margin-top: -5.6rem;
  text-align: center;
  color: #393E46;
}

.result-list__article p {
  margin: 0;
  padding-bottom: 5px;
}






